.bg-img {
    background: url("../../assets/phone.jpg") no-repeat center fixed;
    background-size: cover;
    max-height: 100%;
    width: auto;

    .text-config {
        font-size: 45px;
        font-weight: bold;
    }

    .img-text-small {
        font-size: 20px;
        font-weight: normal;
    }
}

.jumbotron {
    /* IE8 and below */
    background: rgb(198,218,217);
    /* all other browsers */
    background: rgba(198,218,217, 0.25);

    .jumbotron-txt {
        color: black;
    }
}

.bg-color {
    background-color: #4B515D
}