.bg-img {
    background: url("../../assets/phone.jpg") no-repeat center fixed;
    background-size: cover;
    max-height: 100%;
    width: auto;

    .text-config {
        font-size: 45px;
        font-weight: bold;
    }

    .img-text-small {
        font-size: 20px;
        font-weight: normal;
    }
}

.bg-color {
    background-color: #4B515D
}