<div class="min-vh-100 bg-color m-0">
  <div class="bg-img d-flex vh-100 justify-content-left align-items-center">
    <div class="text-dark text-config ml-5 pl-5">
      Share<br>
      your music<br>
      with the<br>
      World!
      <br>
      <p class="img-text-small">
        Use Musicon to connect with the world to share and find playlists<br>
        that match your great taste in music.
      </p>
      <button class="btn btn-secondary img-text-small">Join now</button>
    </div>
  </div>
</div>

<!-- As a guest, you can search by genre, popularity, or search for playlists that have a specific song or artist. Users who <b>log in by connecting to their spotify account</b> are also able to share their playlists to the public or with friends. Be sure to <b>have fun</b> as you connect with the world on Musicon -->
