<div class="bg-img min-vh-100 bg-color m-0">
  <div class="d-flex h-100 justify-content-left align-items-center">
    <div class="text-dark text-config ml-5 pl-5">
      <br>
      <p>
        Let the World<br>
        share it's music<br>
        with You!
      </p>
      <p class="img-text-small">
        Find playlists made by Spotify users<br>
        that share your great taste in music.
      </p>
      <button class="btn btn-success img-text-small" (click)="onClick()">Connect With Spotify</button>
    </div>
  </div>
</div>
