<div class="bg-img min-vh-100 bg-color m-0">
  <div class="d-flex h-100 justify-content-left align-items-center">
    <div class="text-dark text-config ml-5 pl-5">
      <br>
      <p>
        Share<br>
        your music<br>
        with the<br>
        World!
      </p>
      <p class="img-text-small">
        Connect with the world to share and find playlists<br>
        that match your great taste in music.
      </p>
      <button class="btn btn-secondary img-text-small" routerLink="signup">Join now</button>
    </div>
  </div>
</div>